GoogleService-Info.plist
Firebase Demo.xcodeproj/project.pbxproj
Firebase Demo.xcodeproj/xcuserdata/shepherd.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/
Firebase\ Demo.xcodeproj/project.pbxproj
*.xcodeproj*
